<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Tree Example</title>

    <style>
	
	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
    </style>

  </head>

  <body>

  <textarea id="srcCodeData" rows="40" cols="40">
public void a(int a, int b, int c) {
     
  int i = a;
    while (i < 20) {
       
      if (i % 2 == 0) {
          i = i + b;
      } 
      else {
          i = i + c;
       }
         print("in loop");
         print("in loop 2);
     }  // end-while
     
      print(i);
      print(i+2);
}
  </textarea>

    <button type="button" onclick="doCodeFlowGraph()">
        Code Flow Graph
    </button>
    
    <button type="button" onclick="doControlFlowGraph()">
        Control Flow Graph
    </button>

<!-- load the d3.js library -->	
<script src="http://d3js.org/d3.v3.js"></script>
	
<script>

var treeData = [
  {
    "name": "Top Level",
    "parent": "null",
    "children": [

    {
    	"name": "Left Node",
   	    "parent": "null",
        "children": []
   },
   {
    	"name": "Right Node",
   	    "parent": "null",
        "children": []
   } 

    ]
  },

  {
    	"name": "Left Node",
   	    "parent": "null",
        "children": []
   },
   
   {
    	"name": "Right Node",
   	    "parent": "null",
        "children": []
   }

];


// ************** Generate the tree diagram	 *****************
var margin = {top: 10, right: 5, bottom: 10, left: 5},
	width = 1500 - margin.right - margin.left,
	height = 600 - margin.top - margin.bottom;
	
var i = 0,
	duration = 750,
	abstractSyntaxTreeRoot,
	flowChartRoot;

var responseData;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

abstractSyntaxTreeRoot = treeData[0];
flowChartRoot = treeData[0];

abstractSyntaxTreeRoot.x0 = height / 2;
abstractSyntaxTreeRoot.y0 = 0;

flowChartRoot.x0 = height;
flowChartRoot.y0 = 50;
  
update(abstractSyntaxTreeRoot);
update(flowChartRoot);

d3.select(self.frameElement).style("height", "500px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(abstractSyntaxTreeRoot).reverse();
  var links = tree.links(nodes);
   
  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	  .on("click", click);

  nodeEnter.append("circle")
	  .attr("r", 1e-6)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -13 : 13; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.name; })
	  .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
	  .attr("r", 10)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
	  .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	  .remove();

  nodeExit.select("circle")
	  .attr("r", 1e-6);

  nodeExit.select("text")
	  .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
		var o = {x: source.x0, y: source.y0};
		return diagonal({source: o, target: o});
	  });

  // Transition links to their new position.
  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
		var o = {x: source.x, y: source.y};
		return diagonal({source: o, target: o});
	  })
	  .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
	d.x0 = d.x;
	d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
	d._children = d.children;
	d.children = null;
  } else {
	d.children = d._children;
	d._children = null;
  }
  update(d);
}

function sendPostRequest(wantedGraph){
   
   var value  = document.getElementById("srcCodeData").value;
   var data = { "data" : value};

   value = JSON.stringify(data);

   // Do Post
   var http = new XMLHttpRequest();
   var url = "http://localhost:3000/api/basispath";
   http.open("POST", url, true);
   
   http.setRequestHeader('Content-type','application/json; charset=utf-8');

   http.onreadystatechange = function(){
            
            console.log(this);
            if ( http.readyState == 4 && http.status == 200 ){
                renderAST(JSON.parse(http.responseText),wantedGraph);
            }
   }
  
   http.send(value);
}

function doCodeFlowGraph(){
		sendPostRequest("AST");
}

function doControlFlowGraph(){
 		sendPostRequest("CFG");
}

function renderAST(data, wantedGraph){
	  
	  console.log(data[wantedGraph]);

	  treeData = [];
      treeData.push(data[wantedGraph]);
      
      abstractSyntaxTreeRoot = treeData[0];
      abstractSyntaxTreeRoot.x0 = height / 2;
      abstractSyntaxTreeRoot.y0 = 0;

     update(abstractSyntaxTreeRoot);
}


</script>
	
  </body>
</html>